// CONFIG
$namespace: 'eer';

$ratings: (
    "a": #33a357,
    "b": #79b752,
    "c": #c3d545,
    "d": #fff12c,
    "e": #edb731,
    "f": #d66f2c,
    "g": #cc232a
);

$score-background: black;

$arrow-width: 17px;